.App {
  text-align: center;
}

body {
  background-color: #283618;
}

.bins {
  margin: 0px auto;
  width: 540px;
  background-color: grey;
  border-radius: 20%;
}

.bin {
  width: 130px;
  height: 130px;
  background-color: #606C38;
  border-radius: 50%;
  border: 20px solid black;
  float: left;
  margin: 5px;
  cursor: pointer;
}

.trash {
  width: 120px;
  height: 120px;
}

.overall-data {
  color: #FEFAE0;
}
